accelerate==0.27.2
datasets==2.18.0
deepspeed==0.14.0
diffusers==0.25.0
einops==0.7.0
gradio==3.50.2
hydra-core==1.3.2
numpy==1.26.4
omegaconf==2.3.0
peft==0.4.0
protobuf==3.20.0
pyrootutils==1.0.4
scikit-learn==1.4.2
scipy==1.13.0
sentencepiece==0.2.0
six==1.16.0
tokenizers==0.19.1
torchdata==0.6.1
transformers==4.40.0
transformers-stream-generator==0.0.5
webdataset==0.2.86
